@inherits LayoutComponentBase

<div class="app-layout-shell">
    <RoleNavigation @rendermode="InteractiveServer" />

    <main class="app-shell">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
